* {
  box-sizing: border-box;
}

html,
body {
  height: 80%;
  width: 80%;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  /* position: relative; */
}

article {
  /* width: auto;
  height: 10%; */
}

section #image {
  width: 37.3125em;
  height: 64em;
  position: absolute;
  left: 52.6875em;
  top: 0;
}

img {
  width: 43.125em;
  height: 65.6875em;
  position: absolute;
  left: -4.0625em;
  top: -0.875em;
}

header {
  font-family: "Poppins", sans-serif;
}
