* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  border: 0.2em dotted red;
}

article {
  width: 41.5625em;
  height: 64em;
  background-color: #ffffff;
  position: relative;
  left: 6em;
  top: 4em;
  border: 2px solid greenyellow;
}

section {
  width: 37.3125em;
  height: 50.5625em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  left: 5.5em;
  top: 5.5em;
  border: 2px solid rgb(255, 47, 220);
}

figure {
  width: 37.3125em;
  height: 64em;
  position: absolute;
  left: 52.6875em;
  top: 0;
}

img {
  width: 43.125em;
  height: 65.6875em;
  position: absolute;
  left: -4.0625em;
  top: -0.875em;
}

header {
  border: 2px solid rgb(202, 45, 176);
  width: 32.0625em;
  height: 4.875em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

header h1 {
  height: 3em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 2em;
  color: #333333;
}
