* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  color: #333333;

}

//signup styling//

div {
  width: 44.7%;
  color: #ffffff;
  position: relative;
}

section#form_content {
  width: 41.5625rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 5.5rem;
  top: 5.5rem;
  gap: 2rem;
}

header h1{
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: #333333;
}

header small {
  flex-direction: row;
  padding: 0.125em;
}

header small, a {
  color: #333333;
  line-height: 1.5rem;
}


section#image img {
  width: 37.3125em;
  position: absolute;
  left: 48.625rem;
  top: 0.875rem;
}

input {
  width: 40.91rem;
  height: 3.5em;
  border: 0.0625rem solid rgba(102, 102, 102, 0.35);
  border-radius: 0.75rem;
  padding: 0.9rem;
  color: #808080;

}

//login styling//

article#login, {
  width: 44.7%;
  margin: 3.5rem auto;
}

h1, form, section#join {
  margin: 0;
}

h1, h2, section#join p, section#join button {
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}
form#login_form, section#join {
  padding: 2rem;

}
form#login_form {
  border: 0.0625rem solid rgba(102, 102, 102, 0.35);
  border-radius: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.6875rem;
}

section#join {
  background-color: #F9F8F8;
  border-radius: 1.5rem;
}

section h2, section#join button {
  color: #111111;
}

section#join h2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

section#join p {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 22.8125rem;
  margin: 1rem auto;

}

section#join button {
  border: 0.0625rem solid #111111;
  border-radius: 2rem;
  padding: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.8125rem;
  width: 11.25rem;
  display: block;
  margin: 0 auto;
}