* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  color: #333333;

}

/* signup styling */

div {
  width: 44.7%;
  background-color: #ffffff;
  color: #666666;
  position: relative;
}

div#radius {
  width: 2rem;
  height: 2rem;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  top: 2.5rem;
  left: 2.1rem;
}

section#form_content {
  width: 41.5625rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 5.5rem;
  top: 6.5rem;
  gap: 2rem;
}

header h1{
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: #333333;
}

header small {
  flex-direction: row;
  padding: 0.125em;
}

small.acc, a {
  color: rgb(17, 17, 17);
  font-size: 1rem;
  line-height: 1.5rem;
}

a:visited {
  color: rgb(146, 80, 14);
}

a:hover {
  color: rgb(41, 41, 61);
}

section#image img {
  width: 37.3125em;
  position: absolute;
  left: 48.625rem;
  top: 0.875rem;
}

input {
  width: 100%; 
  height: 3.5em;
  border: 0.0625rem solid rgba(102, 102, 102, 0.35);
  border-radius: 0.75rem;
  margin-top: 0.4375rem;
  margin-bottom: 2rem;
  padding: 0.9rem;
  color: #666666;
}

input:focus {
  box-shadow:
  0.1rem 0.02rem 0.3rem 0.2rem rgb(66, 40, 14),
  0.01rem 0.03rem 0.4rem 0.3rem rgb(66, 40, 14),
  0.02rem 0.1rem 0.01rem 0.1rem rgb(66, 40, 14),
  0.01rem 0.2rem 0.1rem 0.4rem rgb(66, 40, 14);
}

ul#pattern {
  display: flex;
  flex-direction: row;
  margin-top: 0.01rem;
  padding: 0;
}

ul section.set {
  flex-direction: column;
  align-items: flex-start;
}

ul li {
  color: rgba(102, 102, 102, 0.6);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.6125rem;
  margin-right: 1.2rem;
  margin-left: 0.99rem;
}

figure, img, p#agreed {
  margin-top: 1.5rem;
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

span.option, p#agreed {
  margin-top: 1.3rem;
  margin-left: 0.3875rem;
  color: #333333;
  line-height: 1.5rem;
}

p#agreed {
  margin-left: 0;
}

button#sub {
  width: 16rem;
  height: 4rem;
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.375rem;
  background: #111111;
  color: #FFFFFF;
  border-radius: 2rem;
  margin-bottom: 1.2rem;
  line-height: 2.0625rem;
  opacity: 0.25;
}

button:focus {
  box-shadow: 0.1rem 0.02rem 0.3rem 0.2rem rgb(180, 105, 30);
}

/* Exixting users styling */

article.login {
  width: 44.7%;
  margin: 3.5rem auto;
}

article header {
  width: 100%;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

div#header {
  width: 2.1rem;
  height: 2.1rem;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  top: 0.7rem;
  left: 2.5rem;
}

header img {
  width: 100%;
  height: 0.0625rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(102, 102, 102, 0.25);
}

h1, form, section#join {
  margin: 0;
}

h1, h2, section#join p, section#join button {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 5.5rem;
  line-height: 3rem;
}

form.login_form, section#join {
  padding: 2rem;

}

p#note {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form.login_form {
  border: 0.0625rem solid rgba(102, 102, 102, 0.35);
  border-radius: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.6875rem;
}

span.option img {
  margin-top: 4rem;
  margin-bottom: 2.625rem;
  line-height: 1.5rem;
  color: #333333;
}

nav a {
  display: flex;
  font-weight: 500;
  line-height: 1.5rem;
  color: #111111;
}

button#sign, button.reset {
width: 11.25rem;
height: 4rem;
background-color: #111111;
color: #FFFFFF;
font-weight: 500;
font-size: 1.375rem;
line-height: 2.0625rem;
display: block;
justify-content: center;
text-align: center;
border-radius: 2rem;
opacity: 0.25;
}

section#join {
  background-color: #F9F8F8;
  border-radius: 1.5rem;
}

section h2, section#join button {
  color: #111111;
}

section#join h2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
}

section#join p {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 22.8125rem;
  margin: 1rem auto;
  text-align: center;
  justify-content: center;
}

section#join button {
  border: 0.0625rem solid #111111;
  border-radius: 2rem;
  padding: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.8125rem;
  width: 11.25rem;
  display: block;
  margin: 0 auto;
}

/* reset styling */

button.reset {
  margin: 0 auto;
}

nav.back a {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-decoration-line: none;
}